version: '3.8'

services:
  apache:
    build: ./apache
    image: php:8.2-apache
    container_name: apache_server
    volumes:
      - ./apache:/var/www/html
    ports:
      - "8080:80"
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: mi_basedatos
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
