--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12 (Debian 15.12-1.pgdg120+1)
-- Dumped by pg_dump version 15.12 (Debian 15.12-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: analisis_laboratorio; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.analisis_laboratorio (
    id_analisis integer NOT NULL,
    nombre_estudio character varying(100) NOT NULL,
    descripcion text,
    precio numeric(10,2) NOT NULL,
    created_by integer,
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by integer,
    updated_date timestamp without time zone,
    tipo_formulario character varying(50)
);


ALTER TABLE public.analisis_laboratorio OWNER TO admin;

--
-- Name: analisis_laboratorio_id_analisis_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.analisis_laboratorio_id_analisis_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.analisis_laboratorio_id_analisis_seq OWNER TO admin;

--
-- Name: analisis_laboratorio_id_analisis_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.analisis_laboratorio_id_analisis_seq OWNED BY public.analisis_laboratorio.id_analisis;


--
-- Name: analisis_roles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.analisis_roles (
    id_analisis integer NOT NULL,
    id_rol integer NOT NULL,
    created_by integer,
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by integer,
    updated_date timestamp without time zone
);


ALTER TABLE public.analisis_roles OWNER TO admin;

--
-- Name: auditoria; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.auditoria (
    id_auditoria integer NOT NULL,
    id_usuario integer,
    accion character varying(100),
    tabla_afectada character varying(100),
    registro_id integer,
    fecha timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    detalles text
);


ALTER TABLE public.auditoria OWNER TO admin;

--
-- Name: auditoria_id_auditoria_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.auditoria_id_auditoria_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.auditoria_id_auditoria_seq OWNER TO admin;

--
-- Name: auditoria_id_auditoria_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.auditoria_id_auditoria_seq OWNED BY public.auditoria.id_auditoria;


--
-- Name: boletas_cobro; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.boletas_cobro (
    id_boleta integer NOT NULL,
    id_protocolo integer NOT NULL,
    fecha_emision timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    monto_total numeric(10,2),
    estado_pago character varying(20) DEFAULT 'pendiente'::character varying,
    created_by integer,
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by integer,
    updated_date timestamp without time zone
);


ALTER TABLE public.boletas_cobro OWNER TO admin;

--
-- Name: boletas_cobro_id_boleta_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.boletas_cobro_id_boleta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.boletas_cobro_id_boleta_seq OWNER TO admin;

--
-- Name: boletas_cobro_id_boleta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.boletas_cobro_id_boleta_seq OWNED BY public.boletas_cobro.id_boleta;


--
-- Name: clientes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.clientes (
    id_cliente integer NOT NULL,
    nombre character varying(100) NOT NULL,
    correo character varying(100) NOT NULL,
    telefono character varying(20),
    direccion text,
    estado boolean DEFAULT true,
    created_by integer,
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by integer,
    updated_date timestamp without time zone
);


ALTER TABLE public.clientes OWNER TO admin;

--
-- Name: clientes_id_cliente_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.clientes_id_cliente_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.clientes_id_cliente_seq OWNER TO admin;

--
-- Name: clientes_id_cliente_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.clientes_id_cliente_seq OWNED BY public.clientes.id_cliente;


--
-- Name: fincas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.fincas (
    id_finca integer NOT NULL,
    id_cliente integer NOT NULL,
    nombre_finca character varying(100) NOT NULL,
    ubicacion text,
    created_by integer,
    created_date timestamp without time zone,
    updated_date timestamp without time zone,
    updated_by integer
);


ALTER TABLE public.fincas OWNER TO admin;

--
-- Name: fincas_id_finca_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.fincas_id_finca_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.fincas_id_finca_seq OWNER TO admin;

--
-- Name: fincas_id_finca_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.fincas_id_finca_seq OWNED BY public.fincas.id_finca;


--
-- Name: informes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.informes (
    id_informe integer NOT NULL,
    id_protocolo integer,
    id_cliente integer,
    id_resultado integer,
    fecha_emision timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    formato character varying(50),
    observaciones text
);


ALTER TABLE public.informes OWNER TO admin;

--
-- Name: informes_id_informe_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.informes_id_informe_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.informes_id_informe_seq OWNER TO admin;

--
-- Name: informes_id_informe_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.informes_id_informe_seq OWNED BY public.informes.id_informe;


--
-- Name: insumos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.insumos (
    id_insumo integer NOT NULL,
    nombre_insumo character varying(100) NOT NULL,
    cantidad_disponible numeric(10,2) DEFAULT 0,
    unidad_medida character varying(50),
    categoria character varying(50),
    estado boolean DEFAULT true
);


ALTER TABLE public.insumos OWNER TO admin;

--
-- Name: insumos_id_insumo_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.insumos_id_insumo_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.insumos_id_insumo_seq OWNER TO admin;

--
-- Name: insumos_id_insumo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.insumos_id_insumo_seq OWNED BY public.insumos.id_insumo;


--
-- Name: muestra_analisis; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.muestra_analisis (
    id_muestra integer NOT NULL,
    id_analisis integer NOT NULL,
    cantidad integer DEFAULT 1,
    created_by integer,
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by integer,
    updated_date timestamp without time zone,
    precio_unitario numeric(10,2)
);


ALTER TABLE public.muestra_analisis OWNER TO admin;

--
-- Name: muestras; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.muestras (
    id_muestra integer NOT NULL,
    tipo_muestra character varying(100) NOT NULL,
    fecha_recepcion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    estado_muestra character varying(50) DEFAULT 'Recibido'::character varying,
    id_protocolo integer,
    id_usuario_responsable integer,
    buen_estado boolean DEFAULT false,
    autolisis boolean DEFAULT false,
    entrega_personal boolean DEFAULT false,
    entrega_correo boolean DEFAULT false,
    correo_resultado character varying(100),
    lesiones_necropsia text,
    bacteriologia boolean DEFAULT false,
    virologia boolean DEFAULT false,
    serologia boolean DEFAULT false,
    parasitologico boolean DEFAULT false,
    histologico boolean DEFAULT false,
    micologico boolean DEFAULT false,
    diagnostico_necropsia text,
    responsable character varying(100),
    id_cliente integer,
    especie character varying(50),
    edad character varying(50),
    descripcion text,
    created_by integer,
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by integer,
    updated_date timestamp without time zone,
    lote character varying(255),
    cantidad integer,
    variedad character varying(100),
    prueba_solicitada character varying(255),
    tipo_vacuna character varying(255),
    marca_vacuna character varying(255),
    dosis character varying(50),
    fecha_elaboracion date,
    fecha_vencimiento date,
    wssv boolean DEFAULT false,
    tsv boolean DEFAULT false,
    ihhnv boolean DEFAULT false,
    imnv boolean DEFAULT false,
    yhv boolean DEFAULT false,
    mrnv boolean DEFAULT false,
    pvnv boolean DEFAULT false,
    ahpnd_ems boolean DEFAULT false,
    ehp boolean DEFAULT false,
    nhpb boolean DEFAULT false,
    div1 boolean DEFAULT false,
    createdby character varying(100) DEFAULT CURRENT_TIMESTAMP,
    createddate timestamp without time zone,
    updatedby character varying(100),
    updateddate timestamp without time zone
);


ALTER TABLE public.muestras OWNER TO admin;

--
-- Name: muestras_id_muestra_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.muestras_id_muestra_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.muestras_id_muestra_seq OWNER TO admin;

--
-- Name: muestras_id_muestra_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.muestras_id_muestra_seq OWNED BY public.muestras.id_muestra;


--
-- Name: ordenes_produccion; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.ordenes_produccion (
    id_orden integer NOT NULL,
    id_producto integer,
    id_insumo integer,
    cantidad_utilizada numeric(10,2),
    fecha_orden timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    descripcion text,
    id_usuario_responsable integer
);


ALTER TABLE public.ordenes_produccion OWNER TO admin;

--
-- Name: ordenes_produccion_id_orden_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.ordenes_produccion_id_orden_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ordenes_produccion_id_orden_seq OWNER TO admin;

--
-- Name: ordenes_produccion_id_orden_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.ordenes_produccion_id_orden_seq OWNED BY public.ordenes_produccion.id_orden;


--
-- Name: pantallas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.pantallas (
    id_pantalla integer NOT NULL,
    nombre_pantalla character varying(100) NOT NULL,
    descripcion character varying(255),
    created_by integer,
    updated_by integer,
    updated_date timestamp without time zone,
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.pantallas OWNER TO admin;

--
-- Name: pantallas_id_pantalla_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.pantallas_id_pantalla_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pantallas_id_pantalla_seq OWNER TO admin;

--
-- Name: pantallas_id_pantalla_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.pantallas_id_pantalla_seq OWNED BY public.pantallas.id_pantalla;


--
-- Name: permisos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.permisos (
    id_rol integer NOT NULL,
    id_pantalla integer NOT NULL,
    consultar boolean DEFAULT false,
    agregar boolean DEFAULT false,
    modificar boolean DEFAULT false,
    eliminar boolean DEFAULT false,
    updated_by integer,
    created_by integer,
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_date timestamp without time zone
);


ALTER TABLE public.permisos OWNER TO admin;

--
-- Name: productos_biologicos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.productos_biologicos (
    id_producto integer NOT NULL,
    nombre_producto character varying(100) NOT NULL,
    descripcion text,
    cantidad_disponible numeric(10,2) DEFAULT 0,
    unidad_medida character varying(50),
    fecha_vencimiento date,
    estado boolean DEFAULT true
);


ALTER TABLE public.productos_biologicos OWNER TO admin;

--
-- Name: productos_biologicos_id_producto_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.productos_biologicos_id_producto_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.productos_biologicos_id_producto_seq OWNER TO admin;

--
-- Name: productos_biologicos_id_producto_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.productos_biologicos_id_producto_seq OWNED BY public.productos_biologicos.id_producto;


--
-- Name: protocolo_correlativos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.protocolo_correlativos (
    id_tipo_protocolo integer NOT NULL,
    anio integer NOT NULL,
    ultimo_numero integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.protocolo_correlativos OWNER TO admin;

--
-- Name: protocolos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.protocolos (
    id_protocolo integer NOT NULL,
    fecha date NOT NULL,
    telefono character varying(20),
    correo character varying(100),
    direccion character varying(255),
    protocolo_no character varying(50),
    observaciones text,
    estado_muestra character varying(20),
    entrega_personal boolean DEFAULT false,
    entrega_correo boolean DEFAULT false,
    firma_cliente character varying(100),
    firma_recibe character varying(100),
    datos_especificos jsonb,
    firma_imagen text,
    id_cliente integer NOT NULL,
    id_finca integer,
    created_by integer,
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by integer,
    updated_date timestamp without time zone,
    id_tipo_protocolo integer,
    tipo_material text,
    mv_remite text,
    departamento text,
    municipio text,
    coordenada_vertical text,
    coordenada_horizontal text,
    procedencia text,
    prueba_solicitada text,
    material_solicitado text
);


ALTER TABLE public.protocolos OWNER TO admin;

--
-- Name: protocolos_id_protocolo_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.protocolos_id_protocolo_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.protocolos_id_protocolo_seq OWNER TO admin;

--
-- Name: protocolos_id_protocolo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.protocolos_id_protocolo_seq OWNED BY public.protocolos.id_protocolo;


--
-- Name: resultados; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.resultados (
    id_resultado integer NOT NULL,
    id_muestra integer,
    tipo_prueba character varying(100) NOT NULL,
    valor_resultado text,
    fecha_resultado timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    observaciones text,
    estado character varying(50) DEFAULT 'Pendiente'::character varying,
    id_usuario_responsable integer
);


ALTER TABLE public.resultados OWNER TO admin;

--
-- Name: resultados_analisis; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.resultados_analisis (
    id_resultado integer NOT NULL,
    id_muestra integer,
    id_analisis integer,
    datos_json jsonb,
    observaciones text,
    lote_antigeno character varying(100),
    fecha_elaboracion date,
    prueba_para character varying(100),
    hora_inicio time without time zone,
    hora_fin time without time zone,
    responsable character varying(150),
    lote_cp character varying(100),
    resultado_cp character varying(100),
    lote_cn character varying(100),
    resultado_cn character varying(100),
    updated_by integer,
    updated_date timestamp without time zone,
    created_by integer,
    created_date character varying DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.resultados_analisis OWNER TO admin;

--
-- Name: resultados_analisis_id_resultado_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.resultados_analisis_id_resultado_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.resultados_analisis_id_resultado_seq OWNER TO admin;

--
-- Name: resultados_analisis_id_resultado_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.resultados_analisis_id_resultado_seq OWNED BY public.resultados_analisis.id_resultado;


--
-- Name: resultados_id_resultado_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.resultados_id_resultado_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.resultados_id_resultado_seq OWNER TO admin;

--
-- Name: resultados_id_resultado_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.resultados_id_resultado_seq OWNED BY public.resultados.id_resultado;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.roles (
    id_rol integer NOT NULL,
    nombre_rol character varying(50) NOT NULL,
    updated_by integer,
    created_by integer,
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_date timestamp without time zone
);


ALTER TABLE public.roles OWNER TO admin;

--
-- Name: roles_id_rol_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.roles_id_rol_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_rol_seq OWNER TO admin;

--
-- Name: roles_id_rol_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.roles_id_rol_seq OWNED BY public.roles.id_rol;


--
-- Name: solicitudes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.solicitudes (
    id_solicitud integer NOT NULL,
    id_cliente integer,
    tipo_muestra character varying(100) NOT NULL,
    descripcion text,
    estado character varying(50) DEFAULT 'Pendiente'::character varying,
    fecha_solicitud timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.solicitudes OWNER TO admin;

--
-- Name: solicitudes_id_solicitud_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.solicitudes_id_solicitud_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.solicitudes_id_solicitud_seq OWNER TO admin;

--
-- Name: solicitudes_id_solicitud_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.solicitudes_id_solicitud_seq OWNED BY public.solicitudes.id_solicitud;


--
-- Name: tipos_protocolo; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tipos_protocolo (
    id_tipo_protocolo integer NOT NULL,
    nombre_tipo character varying(100) NOT NULL,
    descripcion text,
    activo boolean DEFAULT true,
    created_by integer,
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by integer,
    updated_date timestamp without time zone,
    prefijo character varying(10) NOT NULL
);


ALTER TABLE public.tipos_protocolo OWNER TO admin;

--
-- Name: tipos_protocolo_id_tipo_protocolo_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.tipos_protocolo_id_tipo_protocolo_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tipos_protocolo_id_tipo_protocolo_seq OWNER TO admin;

--
-- Name: tipos_protocolo_id_tipo_protocolo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.tipos_protocolo_id_tipo_protocolo_seq OWNED BY public.tipos_protocolo.id_tipo_protocolo;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.usuarios (
    id_usuario integer NOT NULL,
    nombre character varying(100) NOT NULL,
    correo character varying(100) NOT NULL,
    contrasena text NOT NULL,
    rol character varying(50) DEFAULT 'usuario'::character varying NOT NULL,
    estado boolean DEFAULT true,
    id_rol integer DEFAULT 2,
    id_cliente integer,
    created_by integer,
    updated_date timestamp without time zone,
    updated_by integer,
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.usuarios OWNER TO admin;

--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.usuarios_id_usuario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuarios_id_usuario_seq OWNER TO admin;

--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.usuarios_id_usuario_seq OWNED BY public.usuarios.id_usuario;


--
-- Name: analisis_laboratorio id_analisis; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.analisis_laboratorio ALTER COLUMN id_analisis SET DEFAULT nextval('public.analisis_laboratorio_id_analisis_seq'::regclass);


--
-- Name: auditoria id_auditoria; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auditoria ALTER COLUMN id_auditoria SET DEFAULT nextval('public.auditoria_id_auditoria_seq'::regclass);


--
-- Name: boletas_cobro id_boleta; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.boletas_cobro ALTER COLUMN id_boleta SET DEFAULT nextval('public.boletas_cobro_id_boleta_seq'::regclass);


--
-- Name: clientes id_cliente; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.clientes ALTER COLUMN id_cliente SET DEFAULT nextval('public.clientes_id_cliente_seq'::regclass);


--
-- Name: fincas id_finca; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.fincas ALTER COLUMN id_finca SET DEFAULT nextval('public.fincas_id_finca_seq'::regclass);


--
-- Name: informes id_informe; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.informes ALTER COLUMN id_informe SET DEFAULT nextval('public.informes_id_informe_seq'::regclass);


--
-- Name: insumos id_insumo; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.insumos ALTER COLUMN id_insumo SET DEFAULT nextval('public.insumos_id_insumo_seq'::regclass);


--
-- Name: muestras id_muestra; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.muestras ALTER COLUMN id_muestra SET DEFAULT nextval('public.muestras_id_muestra_seq'::regclass);


--
-- Name: ordenes_produccion id_orden; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ordenes_produccion ALTER COLUMN id_orden SET DEFAULT nextval('public.ordenes_produccion_id_orden_seq'::regclass);


--
-- Name: pantallas id_pantalla; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pantallas ALTER COLUMN id_pantalla SET DEFAULT nextval('public.pantallas_id_pantalla_seq'::regclass);


--
-- Name: productos_biologicos id_producto; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.productos_biologicos ALTER COLUMN id_producto SET DEFAULT nextval('public.productos_biologicos_id_producto_seq'::regclass);


--
-- Name: protocolos id_protocolo; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.protocolos ALTER COLUMN id_protocolo SET DEFAULT nextval('public.protocolos_id_protocolo_seq'::regclass);


--
-- Name: resultados id_resultado; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.resultados ALTER COLUMN id_resultado SET DEFAULT nextval('public.resultados_id_resultado_seq'::regclass);


--
-- Name: resultados_analisis id_resultado; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.resultados_analisis ALTER COLUMN id_resultado SET DEFAULT nextval('public.resultados_analisis_id_resultado_seq'::regclass);


--
-- Name: roles id_rol; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roles ALTER COLUMN id_rol SET DEFAULT nextval('public.roles_id_rol_seq'::regclass);


--
-- Name: solicitudes id_solicitud; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.solicitudes ALTER COLUMN id_solicitud SET DEFAULT nextval('public.solicitudes_id_solicitud_seq'::regclass);


--
-- Name: tipos_protocolo id_tipo_protocolo; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tipos_protocolo ALTER COLUMN id_tipo_protocolo SET DEFAULT nextval('public.tipos_protocolo_id_tipo_protocolo_seq'::regclass);


--
-- Name: usuarios id_usuario; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id_usuario SET DEFAULT nextval('public.usuarios_id_usuario_seq'::regclass);


--
-- Data for Name: analisis_laboratorio; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: analisis_roles; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.analisis_roles (id_analisis, id_rol, created_by, created_date, updated_by, updated_date) FROM stdin;
7	7	1	2025-05-22 19:10:15.52539	\N	\N
7	8	1	2025-05-22 19:10:15.533701	\N	\N
6	9	1	2025-05-23 06:21:21.062082	\N	\N
6	10	1	2025-05-23 06:21:21.065387	\N	\N
5	5	1	2025-05-23 06:29:36.870269	\N	\N
5	6	1	2025-05-23 06:29:36.877277	\N	\N
10	5	1	2025-05-23 07:21:50.094113	\N	\N
10	6	1	2025-05-23 07:21:50.097617	\N	\N
9	5	1	2025-05-23 07:22:00.937612	\N	\N
9	6	1	2025-05-23 07:22:00.939445	\N	\N
11	5	1	2025-05-23 07:25:04.878807	\N	\N
11	6	1	2025-05-23 07:25:04.880908	\N	\N
\.


--
-- Data for Name: auditoria; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.auditoria (id_auditoria, id_usuario, accion, tabla_afectada, registro_id, fecha, detalles) FROM stdin;
\.


--
-- Data for Name: boletas_cobro; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.boletas_cobro (id_boleta, id_protocolo, fecha_emision, monto_total, estado_pago, created_by, created_date, updated_by, updated_date) FROM stdin;
\.


--
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.clientes (id_cliente, nombre, correo, telefono, direccion, estado, created_by, created_date, updated_by, updated_date) FROM stdin;
6	Lyonel Rosales	lyonel123@gmail.com	42737225	Condado San Nicol├ís 3 fase 2 casa 115 zona 4 de Mixco	t	\N	2025-04-09 08:02:08.463758	\N	\N
1	cliente1	cliente1@gmail.com	5265896		t	\N	2025-04-09 00:26:25.493664	1	2025-04-24 04:05:21
7	Juan Perez	test02@gmail.com	5265896sss	casa	t	\N	2025-04-24 03:25:06.486813	1	2025-04-24 04:05:26
10	test05	test05@gmail.com	asda	asdad	t	1	2025-04-24 09:26:53	\N	\N
\.


--
-- Data for Name: fincas; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.fincas (id_finca, id_cliente, nombre_finca, ubicacion, created_by, created_date, updated_date, updated_by) FROM stdin;
1	1	finca1	finca cuidad xela	1	2025-04-24 04:32:52.456704	\N	\N
3	1	finca2	su casa	1	2025-04-24 04:44:24.671623	2025-04-24 08:29:33	1
2	6	finca2	nueva	1	2025-04-24 04:39:36.89519	2025-04-24 08:29:50	1
9	10	dasd	asd	7	2025-04-24 09:27:23	\N	\N
4	7	finca3	otra fincaxds	5	2025-04-24 04:56:37.42594	2025-05-02 09:10:51	5
10	7	granja 1	escuintla	1	2025-05-22 15:54:57	\N	\N
\.


--
-- Data for Name: informes; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.informes (id_informe, id_protocolo, id_cliente, id_resultado, fecha_emision, formato, observaciones) FROM stdin;
\.


--
-- Data for Name: insumos; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.insumos (id_insumo, nombre_insumo, cantidad_disponible, unidad_medida, categoria, estado) FROM stdin;
\.


--
-- Data for Name: muestra_analisis; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: muestras; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: ordenes_produccion; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.ordenes_produccion (id_orden, id_producto, id_insumo, cantidad_utilizada, fecha_orden, descripcion, id_usuario_responsable) FROM stdin;
\.


--
-- Data for Name: pantallas; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: permisos; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: productos_biologicos; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.productos_biologicos (id_producto, nombre_producto, descripcion, cantidad_disponible, unidad_medida, fecha_vencimiento, estado) FROM stdin;
\.


--
-- Data for Name: protocolo_correlativos; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.protocolo_correlativos (id_tipo_protocolo, anio, ultimo_numero) FROM stdin;
\.


--
-- Data for Name: protocolos; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: resultados; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.resultados (id_resultado, id_muestra, tipo_prueba, valor_resultado, fecha_resultado, observaciones, estado, id_usuario_responsable) FROM stdin;
\.


--
-- Data for Name: resultados_analisis; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: solicitudes; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.solicitudes (id_solicitud, id_cliente, tipo_muestra, descripcion, estado, fecha_solicitud) FROM stdin;
\.


--
-- Data for Name: tipos_protocolo; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: analisis_laboratorio_id_analisis_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.analisis_laboratorio_id_analisis_seq', 11, true);


--
-- Name: auditoria_id_auditoria_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.auditoria_id_auditoria_seq', 1, false);


--
-- Name: boletas_cobro_id_boleta_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.boletas_cobro_id_boleta_seq', 1, false);


--
-- Name: clientes_id_cliente_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.clientes_id_cliente_seq', 10, true);


--
-- Name: fincas_id_finca_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.fincas_id_finca_seq', 10, true);


--
-- Name: informes_id_informe_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.informes_id_informe_seq', 1, false);


--
-- Name: insumos_id_insumo_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.insumos_id_insumo_seq', 1, false);


--
-- Name: muestras_id_muestra_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.muestras_id_muestra_seq', 22, true);


--
-- Name: ordenes_produccion_id_orden_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.ordenes_produccion_id_orden_seq', 1, false);


--
-- Name: pantallas_id_pantalla_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.pantallas_id_pantalla_seq', 15, true);


--
-- Name: productos_biologicos_id_producto_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.productos_biologicos_id_producto_seq', 1, false);


--
-- Name: protocolos_id_protocolo_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.protocolos_id_protocolo_seq', 14, true);


--
-- Name: resultados_analisis_id_resultado_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.resultados_analisis_id_resultado_seq', 16, true);


--
-- Name: resultados_id_resultado_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.resultados_id_resultado_seq', 1, false);


--
-- Name: roles_id_rol_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.roles_id_rol_seq', 10, true);


--
-- Name: solicitudes_id_solicitud_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.solicitudes_id_solicitud_seq', 1, false);


--
-- Name: tipos_protocolo_id_tipo_protocolo_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.tipos_protocolo_id_tipo_protocolo_seq', 16, true);


--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.usuarios_id_usuario_seq', 7, true);


--
-- Name: analisis_laboratorio analisis_laboratorio_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.analisis_laboratorio
    ADD CONSTRAINT analisis_laboratorio_pkey PRIMARY KEY (id_analisis);


--
-- Name: auditoria auditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auditoria
    ADD CONSTRAINT auditoria_pkey PRIMARY KEY (id_auditoria);


--
-- Name: boletas_cobro boletas_cobro_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.boletas_cobro
    ADD CONSTRAINT boletas_cobro_pkey PRIMARY KEY (id_boleta);


--
-- Name: clientes clientes_correo_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_correo_key UNIQUE (correo);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id_cliente);


--
-- Name: fincas fincas_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.fincas
    ADD CONSTRAINT fincas_pkey PRIMARY KEY (id_finca);


--
-- Name: informes informes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.informes
    ADD CONSTRAINT informes_pkey PRIMARY KEY (id_informe);


--
-- Name: insumos insumos_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.insumos
    ADD CONSTRAINT insumos_pkey PRIMARY KEY (id_insumo);


--
-- Name: muestra_analisis muestra_analisis_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.muestra_analisis
    ADD CONSTRAINT muestra_analisis_pkey PRIMARY KEY (id_muestra, id_analisis);


--
-- Name: muestras muestras_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.muestras
    ADD CONSTRAINT muestras_pkey PRIMARY KEY (id_muestra);


--
-- Name: ordenes_produccion ordenes_produccion_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ordenes_produccion
    ADD CONSTRAINT ordenes_produccion_pkey PRIMARY KEY (id_orden);


--
-- Name: pantallas pantallas_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pantallas
    ADD CONSTRAINT pantallas_pkey PRIMARY KEY (id_pantalla);


--
-- Name: permisos permisos_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.permisos
    ADD CONSTRAINT permisos_pkey PRIMARY KEY (id_rol, id_pantalla);


--
-- Name: analisis_roles pk_analisis_roles; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.analisis_roles
    ADD CONSTRAINT pk_analisis_roles PRIMARY KEY (id_analisis, id_rol);


--
-- Name: productos_biologicos productos_biologicos_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.productos_biologicos
    ADD CONSTRAINT productos_biologicos_pkey PRIMARY KEY (id_producto);


--
-- Name: protocolo_correlativos protocolo_correlativos_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.protocolo_correlativos
    ADD CONSTRAINT protocolo_correlativos_pkey PRIMARY KEY (id_tipo_protocolo, anio);


--
-- Name: protocolos protocolos_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.protocolos
    ADD CONSTRAINT protocolos_pkey PRIMARY KEY (id_protocolo);


--
-- Name: resultados_analisis resultados_analisis_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.resultados_analisis
    ADD CONSTRAINT resultados_analisis_pkey PRIMARY KEY (id_resultado);


--
-- Name: resultados resultados_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.resultados
    ADD CONSTRAINT resultados_pkey PRIMARY KEY (id_resultado);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id_rol);


--
-- Name: solicitudes solicitudes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.solicitudes
    ADD CONSTRAINT solicitudes_pkey PRIMARY KEY (id_solicitud);


--
-- Name: tipos_protocolo tipos_protocolo_nombre_tipo_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tipos_protocolo
    ADD CONSTRAINT tipos_protocolo_nombre_tipo_key UNIQUE (nombre_tipo);


--
-- Name: tipos_protocolo tipos_protocolo_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tipos_protocolo
    ADD CONSTRAINT tipos_protocolo_pkey PRIMARY KEY (id_tipo_protocolo);


--
-- Name: usuarios usuarios_correo_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_correo_key UNIQUE (correo);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id_usuario);


--
-- Name: auditoria auditoria_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auditoria
    ADD CONSTRAINT auditoria_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario);


--
-- Name: boletas_cobro boletas_cobro_id_protocolo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.boletas_cobro
    ADD CONSTRAINT boletas_cobro_id_protocolo_fkey FOREIGN KEY (id_protocolo) REFERENCES public.protocolos(id_protocolo);


--
-- Name: fincas fincas_id_cliente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.fincas
    ADD CONSTRAINT fincas_id_cliente_fkey FOREIGN KEY (id_cliente) REFERENCES public.clientes(id_cliente);


--
-- Name: analisis_roles fk_analisis; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.analisis_roles
    ADD CONSTRAINT fk_analisis FOREIGN KEY (id_analisis) REFERENCES public.analisis_laboratorio(id_analisis) ON DELETE CASCADE;


--
-- Name: analisis_roles fk_rol; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.analisis_roles
    ADD CONSTRAINT fk_rol FOREIGN KEY (id_rol) REFERENCES public.roles(id_rol) ON DELETE CASCADE;


--
-- Name: informes informes_id_cliente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.informes
    ADD CONSTRAINT informes_id_cliente_fkey FOREIGN KEY (id_cliente) REFERENCES public.clientes(id_cliente);


--
-- Name: informes informes_id_protocolo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.informes
    ADD CONSTRAINT informes_id_protocolo_fkey FOREIGN KEY (id_protocolo) REFERENCES public.protocolos(id_protocolo);


--
-- Name: informes informes_id_resultado_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.informes
    ADD CONSTRAINT informes_id_resultado_fkey FOREIGN KEY (id_resultado) REFERENCES public.resultados(id_resultado);


--
-- Name: muestra_analisis muestra_analisis_id_analisis_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.muestra_analisis
    ADD CONSTRAINT muestra_analisis_id_analisis_fkey FOREIGN KEY (id_analisis) REFERENCES public.analisis_laboratorio(id_analisis);


--
-- Name: muestra_analisis muestra_analisis_id_muestra_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.muestra_analisis
    ADD CONSTRAINT muestra_analisis_id_muestra_fkey FOREIGN KEY (id_muestra) REFERENCES public.muestras(id_muestra);


--
-- Name: muestras muestras_id_cliente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.muestras
    ADD CONSTRAINT muestras_id_cliente_fkey FOREIGN KEY (id_cliente) REFERENCES public.clientes(id_cliente);


--
-- Name: muestras muestras_id_protocolo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.muestras
    ADD CONSTRAINT muestras_id_protocolo_fkey FOREIGN KEY (id_protocolo) REFERENCES public.protocolos(id_protocolo);


--
-- Name: muestras muestras_id_usuario_responsable_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.muestras
    ADD CONSTRAINT muestras_id_usuario_responsable_fkey FOREIGN KEY (id_usuario_responsable) REFERENCES public.usuarios(id_usuario);


--
-- Name: ordenes_produccion ordenes_produccion_id_insumo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ordenes_produccion
    ADD CONSTRAINT ordenes_produccion_id_insumo_fkey FOREIGN KEY (id_insumo) REFERENCES public.insumos(id_insumo);


--
-- Name: ordenes_produccion ordenes_produccion_id_producto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ordenes_produccion
    ADD CONSTRAINT ordenes_produccion_id_producto_fkey FOREIGN KEY (id_producto) REFERENCES public.productos_biologicos(id_producto);


--
-- Name: ordenes_produccion ordenes_produccion_id_usuario_responsable_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ordenes_produccion
    ADD CONSTRAINT ordenes_produccion_id_usuario_responsable_fkey FOREIGN KEY (id_usuario_responsable) REFERENCES public.usuarios(id_usuario);


--
-- Name: protocolo_correlativos protocolo_correlativos_id_tipo_protocolo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.protocolo_correlativos
    ADD CONSTRAINT protocolo_correlativos_id_tipo_protocolo_fkey FOREIGN KEY (id_tipo_protocolo) REFERENCES public.tipos_protocolo(id_tipo_protocolo);


--
-- Name: protocolos protocolos_id_tipo_protocolo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.protocolos
    ADD CONSTRAINT protocolos_id_tipo_protocolo_fkey FOREIGN KEY (id_tipo_protocolo) REFERENCES public.tipos_protocolo(id_tipo_protocolo);


--
-- Name: resultados_analisis resultados_analisis_id_analisis_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.resultados_analisis
    ADD CONSTRAINT resultados_analisis_id_analisis_fkey FOREIGN KEY (id_analisis) REFERENCES public.analisis_laboratorio(id_analisis);


--
-- Name: resultados_analisis resultados_analisis_id_muestra_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.resultados_analisis
    ADD CONSTRAINT resultados_analisis_id_muestra_fkey FOREIGN KEY (id_muestra) REFERENCES public.muestras(id_muestra);


--
-- Name: resultados resultados_id_muestra_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.resultados
    ADD CONSTRAINT resultados_id_muestra_fkey FOREIGN KEY (id_muestra) REFERENCES public.muestras(id_muestra);


--
-- Name: resultados resultados_id_usuario_responsable_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.resultados
    ADD CONSTRAINT resultados_id_usuario_responsable_fkey FOREIGN KEY (id_usuario_responsable) REFERENCES public.usuarios(id_usuario);


--
-- Name: solicitudes solicitudes_id_cliente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.solicitudes
    ADD CONSTRAINT solicitudes_id_cliente_fkey FOREIGN KEY (id_cliente) REFERENCES public.clientes(id_cliente);


--
-- Name: usuarios usuarios_id_cliente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_id_cliente_fkey FOREIGN KEY (id_cliente) REFERENCES public.clientes(id_cliente);


--
-- Name: usuarios usuarios_id_rol_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_id_rol_fkey FOREIGN KEY (id_rol) REFERENCES public.roles(id_rol);


--
-- PostgreSQL database dump complete
--

